/* TEMPLATE STYLES */
body {
    position: relative;
}
html,
body,
.intro-header {
    height: 100%;
}
h2 {
    color: #05D6AC !important;
}
#parallax3 a {
    color: white;
}
#parallax3 a:hover {
    color: #05D6AC;
}
a:hover {
    color: #05D6AC !important;
}
/* Navigation*/

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #3E4551;
}


@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #3E4551;
    }
}

/*Intro*/

.intro-header {
    background: url('../img/alpine-background.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 768px) {
    .full-bg-img,
    .view {
        height: auto;
        position: relative;
    }
}

.description {
    padding-top: 25%;
    padding-bottom: 3rem;
    color: #fff
}

@media (max-width: 992px) {
    .description {
        padding-top: 7rem;
        text-align: center;
    }
}
.carousel-indicators {
    bottom: 0 !important;
}

/*Colors*/

.btn-ptc {
    background-color: #3E4551 !important;
}

.btn-ptc:hover {
    background-color: #05D6AC !important;
    color: #3E4551 !important;
}
.fa-lg {
    color: #4B515D !important;
}
.fa-lg:hover {
    color: #05D6AC !important;
}
.fa-lg:focus {
    color: #05D6AC !important;
}
.hr-teal {
    width: 10%;
    border-width: 3px;
    border-radius: 20%;
    border-color: #05D6AC;
}
.fa-paper-plane {
    color: #05D6AC;
}
footer.page-footer {
    background-color: #3E4551;
}
.round-border {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
}

.carousel-multi-item .carousel-indicators li {
    background-color: #4B515D;
}
.carousel-multi-item .carousel-indicators li:hover {
    background-color: #05D6AC;
}
.carousel-multi-item .carousel-indicators .active {
    background-color: #3E4551;
}
.parallax {
    color: white;
    margin-top: 50px;
}
#parallax1 {
    height: 250px;
    background-image: url("../img/fishing-3.jpeg");
}
#parallax2 {
    height: 250px;
    background-image: url("../img/alpine-climbing.jpg");
}
#parallax3 {
    height: 400px;
    background-image: url("../img/keyboard.jpg");
}
/* PIE CHART STYLES */
.chart {
    position: relative;
    display: inline-block;
    width: 200px; /* SHOUL BE EQUAL - Like 200px */
    height: 200px; /* SHOUL BE EQUAL - Like 200px */
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.percent {
    display: inline-block;
    line-height: 200px; /* SHOUL BE EQUAL - Like 200px */
    z-index: 2;
    font-size: 2em;
}
.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: 1em;
}