/* TEMPLATE STYLES */

html,
body,
.intro-header {
    height: 100%;
}
.min-height {
    min-height: 550px;
}
a {
    color: white;
}
a:hover {
    color: #05D6AC;
}
/* Navigation*/

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #1C2331;
}


@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}

/*Intro*/

.intro-header {
    background: url('../img/alpine-background.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 768px) {
    .full-bg-img,
    .view {
        height: auto;
        position: relative;
    }
}

.description {
    padding-top: 25%;
    padding-bottom: 3rem;
    color: #fff
}

@media (max-width: 992px) {
    .description {
        padding-top: 7rem;
        text-align: center;
    }
}

.fa-check {
    color: green;
}

/*Colors*/

.btn-ptc {
  background-color: #45526E !important;
}

.btn-ptc:hover {
  background-color: #59698d !important;
}

.btn-ptc:focus {
  background-color: #59698d !important;
}

footer.page-footer {
    background-color: #1C2331;
}
.round-border {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
}
.carousel-multi-item .carousel-indicators li {
    background-color: #1C2331;
}
.carousel-multi-item .carousel-indicators .active {
    background-color: #1C2331;
}
.parallax {
    color: white;
    height: 400px;
    margin-top: 50px;
}
#parallax1 {
    background-image: url("../img/fishing-3.jpeg");
}
#parallax2 {
    background-image: url("../img/fishing-3.jpeg");
}
#parallax3 {
    background-image: url("../img/keyboard.jpg");
}
/* PIE CHART STYLES */
.chart {
    position: relative;
    display: inline-block;
    width: 200px; /* SHOUL BE EQUAL - Like 200px */
    height: 200px; /* SHOUL BE EQUAL - Like 200px */
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.percent {
    display: inline-block;
    line-height: 200px; /* SHOUL BE EQUAL - Like 200px */
    z-index: 2;
    font-size: 2em;
}
.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: 1em;
}