/* Global */
body {
    position: relative;
}
html,
body,
.intro-header {
    height: 100%;
}
.inline {
    display: inline-block;
}

/* Navigation */
.navbar {
    background-color: transparent;
    border-radius: 0;
}
.top-nav-collapse {
    background-color: #3E4551;
}

/* Parallax */
.parallax {
    color: white;
    margin-top: 50px;
}
#parallax1 {
    height: 250px;
    background-image: url("../img/bg-img/cribstone.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#parallax2 {
    height: 250px;
    background-image: url("../img/bg-img/tetons.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#parallax3 {
    height: 400px;
    background-image: url("../img/bg-img/desk-2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.para-content {
    z-index: 2;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 50px;
}

/* Intro */
.intro-header {
    background: url('../img/bg-img/nez-perce.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.description {
    padding-top: 25%;
    padding-bottom: 3rem;
    color: #fff
}

/* Examples */
.carousel-indicators {
    bottom: 0 !important;
}
.card-over {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .9;
    font-weight: 200;
    font-size: 1.2em;
}
.card-block {
    border-top: 1px solid #F0F0F0;
}

/* Footer */
.footer-copyright {
    font-size: .8em;
}

/* Colors */
h2 {
    color: #05D6AC !important;
}
#parallax3 a {
    color: white;
}
#parallax3 a:hover {
    color: #05D6AC;
}
a:hover {
    color: #05D6AC !important;
}
#about a {
    color: #373a3c;
}
.btn-ptc {
    margin: 0 !important;
    background-color: #3E4551 !important;
}
.btn-ptc:hover {
    background-color: #05D6AC !important;
    color: #3E4551 !important;
}
.icon-grey {
    color: #4B515D !important;
}
.icon-grey:hover {
    color: #05D6AC !important;
}
.icon-grey:focus {
    color: #05D6AC !important;
}
.hr-teal {
    width: 10%;
    border-width: 3px;
    border-color: #05D6AC;
}
#skills .active {
    background-color: #3E4551 !important;
    border-color: #3E4551 !important;
}
.fa-paper-plane {
    color: #05D6AC;
}
footer.page-footer {
    background-color: #3E4551;
}
.round-border {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
}
.carousel-multi-item .carousel-indicators li {
    background-color: #4B515D;
}
.carousel-multi-item .carousel-indicators li:hover {
    background-color: #05D6AC;
}
.carousel-multi-item .carousel-indicators .active {
    background-color: #3E4551;
}

/* Pie Chart */
.chart {
    position: relative;
    display: inline-block;
    width: 100px; /* SHOUL BE EQUAL - Like 200px */
    height: 100px; /* SHOUL BE EQUAL - Like 200px */
    text-align: center;
    margin-top: 30px;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.percent {
    display: inline-block;
    line-height: 100px; /* SHOUL BE EQUAL - Like 200px */
    z-index: 2;
    font-size: 1em;
    padding-left: 3px;
}
.percent:after {
    content: '%';
    margin-left: 0.2em;
    font-size: 1em;
}
.modal-body {
    margin: 0 auto;
    width: 100%;
}
#iframeid {
    height: 420px;
    max-height: 100%;
    width: 100%;
}
/* Media Queries */
@media only screen and (max-width: 1024px) {
    .navbar {
        background-color: #3E4551;
    }
    .description {
        padding-top: 7rem;
        text-align: center;
    }
    .mobile-fix {
        background-attachment: scroll !important;
        background-position: center center;
    }
    .mob-op {
        opacity: .8;
    }
    .mobile-pad-right {
        padding-right: 10px !important;
    }
    .mobile-pad-all {
        padding: 1px;
    }
    .full-width-mobile {
        margin: 0;
        width: 100%;
    }
    .card {
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.16),0 1px 1px 0 rgba(0,0,0,.12);
    }
}
